<%= stylesheet_link_tag 'mailers', media: 'all' %>
<style>
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Roboto:wght@500&display=swap');
</style>

<center><h1>Precise Play</h1></center>
<br>
<center>
  <div class="message">
    <p>Thank you for reaching out!</p>
    <p>This is an automated email to let you know that we have received your inqiry for Precise Play. We are excited to get in touch, and a teammember will be reaching out soon!</p>
    <p>In case of anything urgent, please reach out to Victor Villarreal at victor@playprecise.com</p>
  </div>
</center>
<center><%= email_image_tag('popps-blue.png', id: 'popps-logo', alt: 'logo') %></center>
<br>
