<section class="section section_about">
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        <!-- Description -->
        <p class="section_about__description">
          Players get record all of their practice sessions, building up a lot of useful data, and getting to track their own personal progress.
        </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
