<section class="section section_about">
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        <!-- Description -->
        <p class="section_about__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam placeat molestiae ab, consectetur.
        </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
