<section class="section section_discover section_no-padding_bottom" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-2 align-self-start">

        <!-- Description -->
        <p class="section_discover__description">
          Our showcase product: DPA - Radar
        </p>

      </div>
      <div class="col-md-4 align-self-start">

        <!-- Image -->
        <div class="section_discover__img">
          <!-- <img src="assets/img/2.jpg" class="img-fluid" alt="..."> -->
          <%= image_tag "pitch_analyzer", alt: "alttext", class: "img-fluid" %>
        </div>

      </div>
      <div class="col-md-6 align-self-center">

        <!-- Content -->
        <h2>Digital Pitch Analyzer - Radar</h2>
        <p>
          The DPA is our main product. It comes in two types of technologies: Radar, and Laser. The goal of these machines is to track the speed and the location of the ball within the strikezone.
        </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<section class="section section_discover">
  <div class="container">
    <div class="row">
      <div class="col-md-2 order-md-2 align-self-end">

        <!-- Description -->
        <p class="section_discover__description">
          Screenshot of the Precise Play Android App. Also available in iOS.
        </p>

      </div>
      <div class="col-md-4 order-md-3 align-self-start">

        <!-- Image -->
        <div class="section_discover__img alt">
          <!-- <img src="assets/img/7.jpg" class="img-fluid" alt="..."> -->
          <%= image_tag "screenshot_1", alt: "alttext", class: "img-fluid" %>
        </div>

      </div>
      <div class="col-md-6 order-md-1 align-self-center">

        <!-- Content -->
        <h2>POPPS mobile app</h2>
        <p>
          Our application interacts with our DPA machines, connecting to them via bluetooth. Once you log into the app with your player profile, you are able to start a practice session and track each pitch as it's thrown.
        </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
