<section class="section section_discover section_no-padding_bottom" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-2 align-self-start">

        <!-- Description -->
        <p class="section_discover__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>

      </div>
      <div class="col-md-4 align-self-start">

        <!-- Image -->
        <div class="section_discover__img">
          <!-- <img src="assets/img/2.jpg" class="img-fluid" alt="..."> -->
          <%= image_tag "pitch_analyzer", alt: "alttext", class: "img-fluid" %>
        </div>

      </div>
      <div class="col-md-6 align-self-center">

        <!-- Content -->
        <h2><em>Lorem ipsum</em> dolor sit amet</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nisi, consequatur, laborum libero a neque ducimus. Porro rem illum quo nostrum quisquam asperiores, blanditiis, consectetur. Possimus facilis velit, voluptatibus!
        </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<section class="section section_discover">
  <div class="container">
    <div class="row">
      <div class="col-md-2 order-md-2 align-self-end">

        <!-- Description -->
        <p class="section_discover__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>

      </div>
      <div class="col-md-4 order-md-3 align-self-start">

        <!-- Image -->
        <div class="section_discover__img alt">
          <!-- <img src="assets/img/7.jpg" class="img-fluid" alt="..."> -->
          <%= image_tag "screenshot_1", alt: "alttext", class: "img-fluid" %>
        </div>

      </div>
      <div class="col-md-6 order-md-1 align-self-center">

        <!-- Content -->
        <h2><em>Velit ipsa</em> quidem debitis amet</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quae similique asperiores consequatur! Nihil temporibus qui enim, ab voluptates corporis commodi eum maxime. Accusamus voluptates a, et quidem! Quo, et?
        </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
