<section class="section section_events section_no-padding_bottom">

  <!-- Intro -->
  <div class="container">
    <div class="row">
      <div class="col">

        <!-- Heading -->
        <h2 class="section__heading text-center">
          Upcoming events
        </h2>

        <!-- Subheading -->
        <p class="section__subheading text-center">
          Commodi rem veritatis quis eaque mollitia.
        </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

  <!-- Events -->
  <div class="section_events__items">

    <!-- Event #1 -->
    <div class="section_events__item active">

      <!-- Bg image -->
      <div class="section_events__item__bg" style="background-image: url(assets/images/8.jpg)"></div>

      <!-- Content -->
      <div class="container">

        <!-- Content: Large -->
        <div class="section_events__item__content_lg">
          <div class="row">
            <div class="col-md-8 col-lg-5">

              <!-- Date -->
              <h3 class="section__preheading text-primary">
                <time datetime="2017-09-30">September 30, 2017</time>
              </h3>

              <!-- Heading -->
              <h2 class="section__heading text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
              </h2>

              <!-- Description -->
              <p class="section__subheading">
                Alias earum, labore doloremque iusto a modi et, dolorem veritatis iste quis ab. Facere est optio, voluptate molestias aspernatur impedit perferendis odit?
              </p>

              <!-- Button -->
              <a href="#section_reservation" class="btn btn-primary text-white">
                Reserve a table
              </a>

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .section_events__item__content_lg -->

        <!-- Content: Small -->
        <div class="section_events__item__content_sm">
          <div class="row">
            <div class="col-3 col-md-2 col-lg-1">

              <!-- Date -->
              <time datetime="2017-09-30">
                30 <small>Sep</small>
              </time>

            </div>
            <div class="col-9 col-md-7 col-lg-8">

              <!-- Heading -->
              <h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
              </h4>

            </div>
            <div class="col-9 ml-auto col-md-3 text-md-right">

              <!-- Button -->
              <a href="#section_reservation" class="btn btn-primary">
                Reserve a table
              </a>

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .section_events__item__content_sm -->

      </div> <!-- / .container -->

    </div> <!-- / .section_events__item -->

    <!-- Event #2 -->
    <div class="section_events__item">

      <!-- Bg image -->
      <div class="section_events__item__bg" style="background-image: url(assets/images/9.jpg)"></div>

      <!-- Content -->
      <div class="container">

        <!-- Content: Large -->
        <div class="section_events__item__content_lg">
          <div class="row">
            <div class="col-md-8 col-lg-5">

              <!-- Date -->
              <h3 class="section__preheading text-primary">
                <time datetime="2017-09-29">September 29, 2017</time>
              </h3>

              <!-- Heading -->
              <h2 class="section__heading text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
              </h2>

              <!-- Description -->
              <p class="section__subheading">
                Alias earum, labore doloremque iusto a modi et, dolorem veritatis iste quis ab. Facere est optio, voluptate molestias aspernatur impedit perferendis odit?
              </p>

              <!-- Button -->
              <a href="#section_reservation" class="btn btn-primary text-white">
                Reserve a table
              </a>

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .section_events__item__content_lg -->

        <!-- Content: Small -->
        <div class="section_events__item__content_sm">
          <div class="row">
            <div class="col-3 col-md-2 col-lg-1">

              <!-- Date -->
              <time datetime="2017-09-29">
                29 <small>Sep</small>
              </time>

            </div>
            <div class="col-9 col-md-7 col-lg-8">

              <!-- Heading -->
              <h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
              </h4>

            </div>
            <div class="col-9 ml-auto col-md-3 text-md-right">

              <!-- Button -->
              <a href="#section_reservation" class="btn btn-primary">
                Reserve a table
              </a>

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .section_events__item__content_sm -->

      </div> <!-- / .container -->

    </div> <!-- / .section_events__item -->

    <!-- Event #3 -->
    <div class="section_events__item">

      <!-- Bg image -->
      <div class="section_events__item__bg" style="background-image: url(assets/images/10.jpg)"></div>

      <!-- Content -->
      <div class="container">

        <!-- Content: Large -->
        <div class="section_events__item__content_lg">
          <div class="row">
            <div class="col-md-8 col-lg-5">

              <!-- Date -->
              <h3 class="section__preheading text-primary">
                <time datetime="2017-09-28">September 28, 2017</time>
              </h3>

              <!-- Heading -->
              <h2 class="section__heading text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
              </h2>

              <!-- Description -->
              <p class="section__subheading">
                Alias earum, labore doloremque iusto a modi et, dolorem veritatis iste quis ab. Facere est optio, voluptate molestias aspernatur impedit perferendis odit?
              </p>

              <!-- Button -->
              <a href="#section_reservation" class="btn btn-primary text-white">
                Reserve a table
              </a>

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .section_events__item__content_lg -->

        <!-- Content: Small -->
        <div class="section_events__item__content_sm">
          <div class="row">
            <div class="col-3 col-md-2 col-lg-1">

              <!-- Date -->
              <time datetime="2017-09-28">
                28 <small>Sep</small>
              </time>

            </div>
            <div class="col-9 col-md-7 col-lg-8">

              <!-- Heading -->
              <h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptas, aut ea quae!
              </h4>

            </div>
            <div class="col-9 ml-auto col-md-3 text-md-right">

              <!-- Button -->
              <a href="#section_reservation" class="btn btn-primary">
                Reserve a table
              </a>

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .section_events__item__content_sm -->

      </div> <!-- / .container -->

    </div> <!-- / .section_events__item -->

  </div> <!-- / .section_events_items -->

</section>
