<footer class="section section_footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">

        <!-- About Us -->
        <h5 class="section_footer__heading">
          About Us
        </h5>
        <p>
          Precise Play™ is an engineering firm that specializes in sports related technologies. The current product line up consists of various digital pitch alalyzers, designed to track data from pitchers practice sessions to keep track of personal progress.
        </p>

      </div>
      <div class="col-sm-4">

        <!-- Contact info -->
        <h5 class="section_footer__heading">
          Contact info
        </h5>
        <ul class="section_footer__info">
          <li>
            <i class="fas fa-map-marker-alt"></i> Raytown, MO 64133
          </li>
          <li>
            <i class="fas fa-phone"></i> +1 816 812 4133
          </li>
          <li>
            <i class="far fa-envelope"></i> <a href="mailto:admin@domain.com">victor@playprecise.com</a>
          </li>
        </ul>

      </div>
      <div class="col-sm-4">

        <!-- Opening hours -->
        <h5 class="section_footer__heading">
          Opening hours
        </h5>
        <div class="section_footer__open">
          <div class="section_footer__open__days">Monday - Thursday</div>
          <div class="section_footer__open__time">10:00 AM - 11:00 PM</div>
        </div>
        <div class="section_footer__open">
          <div class="section_footer__open__days">Friday - Sunday</div>
          <div class="section_footer__open__time">12:00 AM - 03:00 AM</div>
        </div>

      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-12">

        <!-- Copyright -->
        <div class="section_footer__copyright">
          &copy; <span id="js-current-year"></span> Precise Play™. All rights reserved.
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>
