<div class="navbar navbar-expand-sm navbar-dark navbar-custom fixed-top" id="bs-navbar">
  <%= image_tag "popps-white", class: "avatar" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="link-list">
      <li class="nav-item nav_list_link">
        <%= link_to "About", "#about", class: "nav-link active" %>
      </li>
      <li class="nav-item nav_list_link">
        <%= link_to "Baseball", "#baseball", class: "nav-link" %>
      </li>
      <li class="nav-item nav_list_link">
        <%= link_to "Contact", "#contact", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>


