<section class="section section_testimonials section_border_bottom">
  <div class="container">
    <div class="row">
      <div class="col">

        <!-- Heading -->
        <h2 class="section__heading text-center">
          What clients say about us
        </h2>

        <!-- Subheading -->
        <p class="section__subheading text-center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>

      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col">
        <div class="section_testimonials__carousel">
          <div class="section_testimonials__carousel__item text-center text-md-left">
            <div class="row align-items-center">
              <div class="col-md-3 order-md-3">

                <!-- Photo -->
                <div class="section_testimonials__photo">
                  <!-- <img src="assets/img/20.jpg" class="img-fluid" alt="..."> -->
                  <%= image_tag "20", alt: "alttext", class: "img-fluid" %>
                </div>

              </div>
              <div class="col-md-7 order-md-2">

                <!-- Blockquote -->
                <blockquote class="section_testimonials__blockquote mx-auto">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos at veritatis vitae modi ex quis quibusdam error repudiandae adipisci dolore perspiciatis iste, vel fuga a, libero architecto ratione deleniti sequi.
                  </p>
                  <footer class="text-muted">
                    Richard Roe
                  </footer>
                </blockquote>

              </div>
              <div class="col-md-1 order-md-1"></div>
            </div> <!-- / .row -->
          </div>
          <div class="section_testimonials__carousel__item text-center text-md-left">
            <div class="row align-items-center">
              <div class="col-md-3 order-md-3">

                <!-- Photo -->
                <div class="section_testimonials__photo">
                  <!-- <img src="assets/img/21.jpg" class="img-fluid" alt="..."> -->
                  <%= image_tag "21", alt: "alttext", class: "img-fluid" %>
                </div>

              </div>
              <div class="col-md-7 order-md-2">

                <!-- Blockquote -->
                <blockquote class="section_testimonials__blockquote mx-auto">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos at veritatis vitae modi ex quis quibusdam error repudiandae adipisci dolore perspiciatis iste, vel fuga a, libero architecto ratione deleniti sequi.
                  </p>
                  <footer class="text-muted">
                    Elisabeth Doe
                  </footer>
                </blockquote>

              </div>
              <div class="col-md-1 order-md-1"></div>
            </div> <!-- / .row -->
          </div>
          <div class="section_testimonials__carousel__item text-center text-md-left">
            <div class="row align-items-center">
              <div class="col-md-3 order-md-3">

                <!-- Photo -->
                <div class="section_testimonials__photo">
                  <!-- <img src="assets/img/22.jpg" class="img-fluid" alt="..."> -->
                  <%= image_tag "22", alt: "alttext", class: "img-fluid" %>
                </div>

              </div>
              <div class="col-md-7 order-md-2">

                <!-- Blockquote -->
                <blockquote class="section_testimonials__blockquote mx-auto">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos at veritatis vitae modi ex quis quibusdam error repudiandae adipisci dolore perspiciatis iste, vel fuga a, libero architecto ratione deleniti sequi.
                  </p>
                  <footer class="text-muted">
                    Monica Roe
                  </footer>
                </blockquote>

              </div>
              <div class="col-md-1 order-md-1"></div>
            </div> <!-- / .row -->
          </div>
        </div> <!-- / .carousel -->
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
