<section class="section section_welcome" data-parallax="scroll" data-image-src="../assets/images/infield">

  <!-- Content -->
  <div class="section_welcome__main">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">

          <!-- Heading -->
          <!-- <h2 class="section__preheading section_welcome__preheading text-center text-muted">
            <span class="text-primary">Café</span> / Restaurant
          </h2> -->
          <h1 class="section__heading section_welcome__heading text-center">
            Precise Play
          </h1>
          <p class="section__subheading section_welcome__subheading text-center text-muted">
            Precise Play™ is an engineering firm that specializes in sports related technologies. The current product line up consists of various digital pitch alalyzers, designed to track data from pitchers practice sessions to keep track of personal progress.
          </p>

          <!-- Button -->
          <div class="text-center">
            <a href="#section_reservation" class="btn btn-primary text-white">
              Schedule a Demo
            </a>
          </div>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </div>

  <!-- Footer -->
  <div class="section_welcome__footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md">

          <!-- Social links -->
          <ul class="section_welcome__footer__social text-center text-lg-left">
            <li>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>

        </div>
        <div class="col-md">

          <!-- Address -->
          <div class="section_welcome__footer__address text-center text-lg-right">
            <i class="fas fa-map-marker-alt"></i> Raytown, MO 64133
          </div>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </div>

</section>

<!-- DISCOVER
================================================== -->
<section class="section section_discover section_no-padding_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-2 align-self-start">

        <!-- Description -->
        <p class="section_discover__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>

      </div>
      <div class="col-md-4 align-self-start">

        <!-- Image -->
        <div class="section_discover__img">
          <!-- <img src="assets/img/2.jpg" class="img-fluid" alt="..."> -->
          <%= image_tag "2", alt: "alttext", class: "img-fluid" %>
        </div>

      </div>
      <div class="col-md-6 align-self-center">

        <!-- Content -->
        <h2><em>Lorem ipsum</em> dolor sit amet</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nisi, consequatur, laborum libero a neque ducimus. Porro rem illum quo nostrum quisquam asperiores, blanditiis, consectetur. Possimus facilis velit, voluptatibus!
        </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
