<%= render "shared/navbar" %>

<div class="banner hp-image">
  <div class="tagline">
    <h1>Precise Play</h1>
    <p>Progress... Proven.</p>
  </div>
</div>

<div id="about" class="section">
  <h2>About</h2>
</div>

<div id="baseball" class="section">
  <h2>Baseball</h2>
</div>

<div id="contact" class="section">
  <h2>Contact</h2>
</div>
