/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap/scss/bootstrap';
 @import 'config/colors';

  body {
    position: relative;
  }

 .banner {
  height: 100vh;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), image-url('infield');
  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  p {
    color: white;
    // opacity: 0.8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
    }
  }

  .navbar-custom {
    display: flex;
    justify-content: space-between;
    transition: 0.75s background-color ease;
  }

  .navbar-blue {
    background-color: $popps-blue;
    box-shadow: 0 5px 15px rgba(0,0,0,.07);
  }

  .section {
    height: 100vh;
  }

  #about {
    background-color: blue;
  }

  #baseball {
    background-color: red;
  }

  #contact {
    background-color: green;
  }
