.btn-flat {
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  background: #183d99;
  transition: background 0.3s ease;
  margin: 0px 4px 0px;
}

// .btn-flat:hover {
//   background: #ea5455;
//   color: white;
// }

h1 {
  font-family: 'Lobster', cursive;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #020100;
}

.message {
  max-width: 500px;
  text-align: left;
  font-size: 16px;
}

#popps-logo {
  width: 100px;
}
